# htpasswd -Bbn docker SOME_GOOD_PASSWORD
docker_pass_encrypted="$2y$05$RZJbhQgjT.pKVsdPJStHoeR7Rjn6XpNroIen9896PHhb/GAxUrVQC"
mariadb=false
# Path of the SSH keys you want to use
ssh_privkey="/home/sage/.ssh/terraform_ed25519"
ssh_user="nateberkopec"
bastion_host="bastion.wmcloud.org"
nomad_server_external_address="185.15.56.103"