# openssl rand -hex 24
consul_mgmt_token="ec229db811bfb932e0841d5989a81379490f28b44a096009"
# consul keygen
consul_gossip_token="RjCX0Sdei59oVOuZ7Iffn84GYNUvS8L4Hib/boGXs+g="
# Get it from New Relic account
new_relic_license_key="9d2c1ec15a94a29edbd56"
# This is the Dashboard domain
rails_domain="eeeac4.wikiedu.org"
# This is arbitrary
docker_domain="a5641d.wikiedu.org"
letsencrypt_email="nate.berkopec@speedshop.co"
# Path of the SSH keys you want to use
ssh_privkey="/Users/nateberkopec/.ssh/wikied_linode_rsa"
ssh_user="root"
bastion_host=null
waypoint_domain=""